<footer class="text-lg-start">
  <div *ngIf="showTopFooter" class="top-footer">
    <!-- Grid container -->
    <ds-themed-text-section *ngIf="hasSiteFooterSections" [sectionId]="'site'" [textRowSection]=section [site]="(site | async)"></ds-themed-text-section>
    <div *ngIf="!hasSiteFooterSections" class=" container p-4">
      <!--Grid row-->
      <div class="row">       
        <div class="col-md-4">
      <img style="width: 30%;height: auto;" src="assets/images/logo_footer.png" [attr.alt]="'menu.header.image.logo' | translate" />

        </div> 

        <div class="col-md-4">
          <b> Greece</b>
    <br>
    6 Gravias Street <br/>GR-153 42 <br/>Aghia Paraskevi Athens, <br/>Phone: +30 210 600 9800
  </div> 
   <div class="col-md-4">
    <b> Useful</b>
    <br>
    - Postgraduate thesis submission guidelines <br/>
    - Instructions for submitting a PhD thesis <br/>
    - ORCID Creation Wizard <br/>
    - Creative Commons <br/>
  </div>       
	 </div>
      <!--Grid row-->
    </div>
  </div>
  <!-- Grid container -->

  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container">
      <p class="m-0">
        {{ 'footer.built-with' | translate }}
        <a class="text-white" href="https://wiki.lyrasis.org/display/DSPACECRIS/">{{ 'footer.link.dspace-cris' | translate}}</a>
        {{ 'footer.extension-by' | translate }}
        <a class="text-white" href="https://www.4science.it/en/">{{ 'footer.link.4science' | translate}}</a> | 
	<a class="text-white" href="https://dataly.gr">{{ 'footer.link.dataly' | translate}}</a>
      </p>
      <ul class="footer-info list-unstyled small d-flex justify-content-center mb-0">
        <li>
            <a class="text-white" href="javascript:void(0);"
             (click)="showCookieSettings()">{{ 'footer.link.cookies' | translate}}</a>
        </li>
        <li *ngIf="showPrivacyPolicy">
          <a class="text-white"
             routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a>
        </li>
        <li *ngIf="showEndUserAgreement">
          <a class="text-white"
             routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a>
        </li>
        <li *ngIf="showSendFeedback$ | async">
          <a class="text-white"
             routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Copyright -->
</footer>
