<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <p>{{ 'home.text1' | translate}}</p>
          <p>{{ 'home.text2' | translate}}</p>
          <p>{{ 'home.text3' | translate}}</p>

          <br/> <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>

        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
<source type="image/jpg" srcset="https://dashboard.justmydevdemo.eu/back.png 2000w, https://dashboard.justmydevdemo.eu/back.png 1200w, https://dashboard.justmydevdemo.eu/back.png 768w">
    <img alt="" [src]="'https://dashboard.justmydevdemo.eu/back.png'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->

  </picture>
</div>


