<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <p class="lead"></p>
	  <br/> <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>

        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/jpg" srcset="https://dashboard.justmydevdemo.eu/ver.png 2000w, https://dashboard.justmydevdemo.eu/ver.png 1200w, https://dashboard.justmydevdemo.eu/ver.png 768w">
    <img alt="" [src]="'https://dashboard.justmydevdemo.eu/ver.png'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
</div>
