<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid" style="width: 50%;
    line-height: normal;
    min-height: 540px;">
      <div class="d-flex flex-wrap">
        <div>
          <p style="font-weight: bold;
          font-size: 52px;
          color: #252159;">The American University of Greece</p>
          <p style="">Welcome to the Institutional repository of the American University of Greece</p>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
<source type="image/jpg" srcset="assets/dspace/images/banner_ucy.png 2000w, assets/dspace/images/banner_ucy.png 1200w, assets/dspace/images/banner_ucy.png 768w">
    <img alt="" [src]="'assets/dspace/images/banner_ucy.png'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->

  </picture>
</div>


