<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid" style="width: 38%;
    line-height: normal;
    min-height: 540px;
    margin-left: 3%;">
      <div class="d-flex flex-wrap">
        <div>
          <p style="font-weight: bold;font-size: 52px;color: #252159;">Sphere</p>
          <p style="color: #232323;font-size: 21px;">Welcome to Sphere, the Institutional Repository of The American College of Greece and ACG 150</p>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
<source type="image/jpg" srcset="assets/dspace/images/banner_home.png 2000w, assets/dspace/images/banner_home.png 1200w, assets/dspace/images/banner_home.png 768w">
    <img alt="" [src]="'assets/dspace/images/banner_home.png'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->

  </picture>
</div>


