.orcid-container {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.orcid-icon, .orcid-link-icon {
  height: 1.2rem;
  padding-left: 0.3rem;
  cursor: pointer;
}


::ng-deep .popover {
  max-width: 400px !important;
  width: 100%;
  min-width: 300px !important;
}
